@{
    ViewData["Title"] = "Home Page";
    var Username = User.Identity.Name;
}

<div class="jumbotron bg-light">
    <h2 class="text-center text-primary">
        <i class="fab fa-facebook-messenger"></i>&nbsp; Spirit Chat
    </h2>

    <div class="row">
        <div class="col-md-12" id="chat">
            @if (Model != null)
            {
                var Mod = Model.OrderBy(m => m.When);
                @foreach (var message in Mod)
               {
                   
               }
           }

        </div>
    </div>

</div>